*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

.gradle/
.idea/
build/
target/
Будет удалено .gradle/
Будет удалено .idea/.name
Будет удалено .idea/compiler.xml
Будет удалено .idea/libraries/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules/
Будет удалено .idea/workspace.xml
Будет удалено .vscode/
Будет удалено build.gradle
Будет удалено gradle/
Будет удалено gradlew
Будет удалено gradlew.bat
Будет удалено settings.gradle
Будет удалено src/
/.vscode/
